.global-nowprice{
  color: rgb(240, 20, 20);
}

.N8{
  color:#323233;
}
.N7{
  color:#646566;
}
.N6{
  color: #969799;
}
// .nolmal-text{
//   color: rgb(74, 75, 77);
// }

$nolmal-textColor: #969799;
$nolmal-textSize: 10px;
$nolmao-iconGrey: #969799;
